*{
    font-family: 'Roboto Serif', serif;
  }
 
/*REG,LOGIN*/  
.reg, .homeBackground{
    background-image: linear-gradient(to right top, #e2a1a1, #f1aa9b, #fbb594, #ffc28d, #fed188, #edd987, #d9e08c, #c4e797, #a4e4a7, #88dfb8, #74d8c8, #6dd0d3);
    background-repeat: no-repeat;
    height: 100vh;
    object-fit: cover;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
}

.box {
    width: 500px;
    height: 450px;
    padding: 50px 70px;
    background: white;
    text-align: center;
    transition: 0.25s;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}
.card{
    border-top: 0 !important;
}
.rounded {
    border-radius: 0.5rem!important;
}
.ml-20 {
    margin-left: 20px
}


/*HOME*/

.homeBox {
    padding: 20px;
    opacity: 0.6;
    background: white;
    transition: 0.25s;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);   
}

.homeBoxCarousel {

}

.homeBoxContent {
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.homeBoxSideBar {
    opacity: 0.6;
    padding: 40px 60px;
    background: white;
    transition: 0.25s;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);  
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.sidebar {
    transition:none;
    background: none;
}

.homeBoxContent::-webkit-scrollbar {    
    width: 12px;
    margin-right: 10px;
}

.homeBoxContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.homeBoxContent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.modal-content {
    background: none !important;
    border: none !important;
}







/*CATEG
.sidebar{
    flex:3;
  }
  .sidebarList{
    list-style-type: none;
    margin-bottom:30px;
  }
  .sidebarList li{
    display: inline-block;
    width: 50%;
    margin-top:15px;
    cursor: pointer;
  } */