*{
    font-family: 'Roboto Serif', serif;
  }
  
.reg, .homeBackground{
    background-image: linear-gradient(to right top, #e2a1a1, #f1aa9b, #fbb594, #ffc28d, #fed188, #edd987, #d9e08c, #c4e797, #a4e4a7, #88dfb8, #74d8c8, #6dd0d3);
    background-repeat: no-repeat;
    height: 100vh;
    object-fit: cover;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
}

.box {
    width: 500px;
    height: 450px;
    padding: 50px 70px;
    background: white;
    text-align: center;
    transition: 0.25s;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}
.card{
    border-top: 0 !important;
}
.rounded {
    border-radius: 0.5rem!important;
}
.ml-20 {
    margin-left: 20px
}

.homeBox {
    overflow: scroll;
    opacity: 0.6;
    padding: 40px 60px;
    background: white;
    transition: 0.25s;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);   
}
.homeBoxSideBar {
    opacity: 0.6;
    padding: 40px 60px;
    background: white;
    transition: 0.25s;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);  
    align-items: center;
    justify-content: center;
    z-index: 1;
}


/*CARD*/
.navbar-default .navbar-nav > li > a{
    padding: 15px 15px;
    margin: 5px 0;
}

.navbar-default{
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.95);
    border-color: transparent;
    box-shadow: 0 0px 13px rgba(0,0,0,.2);
}




/*BUTTON
.btn-info,
.btn-info:hover,
.btn-info:focus{
    color: #FFF !important;
    background-color: #00bbff !important;
    border-color: #00bbff !important;
}

.btn-info{
    opacity: .8;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.btn-info:hover,
.btn-info:focus{
    opacity: 1;
} */



/*CATEG
.sidebar{
    flex:3;
  }
  .sidebarList{
    list-style-type: none;
    margin-bottom:30px;
  }
  .sidebarList li{
    display: inline-block;
    width: 50%;
    margin-top:15px;
    cursor: pointer;
  } */