.homeBoxSideBar {
    padding: 0px 60px;
    background: white;
    transition: 0.25s;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.317);  
    align-items: center;
    justify-content: center;
    height: 80vh;
    display: flex;
    /*z-index: 1;*/
}

.sidebar {
    background-color: transparent !important;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.welcome{
    font-size: clamp(1.35rem,1vw,1rem);
}

.brands {
    text-decoration: none;
}