/*NavBar*/
.navcontainer {
    width: 100%;
    margin: 0;
    padding: 0;  
}
.container-fluid{
    vertical-align: middle !important;
}

.navbar{
    max-height: 50px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    transition: 0.25s;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(3, 1, 1, 0.317);
    display: flex;
    justify-content: space-between;
    vertical-align: middle !important;
}

.nav-link{
    color:#0707077b !important;
    text-transform: uppercase !important;
    font-size: 1.5em !important;    
    font-weight: bolder !important;
    text-shadow: 1px rgb(0, 0, 0) !important;
    align-items: center;
    vertical-align: middle !important;
    padding-left: 0.1rem !important;
    padding-right: 0.9rem !important;   
}

.leftNav{
    vertical-align: middle !important;
    margin: 0px !important;
    margin-left: 0 !important;
}

.nav-img{
    width: 40px;
    max-height: 40px;
    padding: 2px 5px;
    margin-left: 0 7px 0 10px;
    border-radius:50%;
    object-fit: cover;
    cursor: pointer;
    background-color:transparent;
    vertical-align: middle;
}

.nav-myLogo{
    max-height: 50px;
    vertical-align: middle;
}

/*dropdown*/

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: inherit;  
    color: inherit;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: rgba(176, 190, 56, 0.349);
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(3, 1, 1, 0.317);
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    padding: 0.3em 0.3em;
    margin: 0.3em 0.3em;
    text-align: left;
    display: flex;
    flex-direction: column;
}
  
.dropdown-content a:hover{
    color: rgb(130, 88, 88);
}

.dropdown:hover .dropdown-content {
    display: block;
}